
.header {
	position: relative;
}

.me {
  display: block;
  margin: 2em auto;
  margin-bottom: 3em;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.social {
  text-align: center;
  font-size: 1.5em;
  color: #555;
  overflow: hidden;
  position: relative;
  bottom: 15px;
}
.social a {
  color: inherit;
  text-decoration: none;
}
.social i {
  margin: 0.3em;
  cursor: pointer;
  transition: color 300ms ease, margin-top 300ms ease;
  transform: translateZ(0);
}
.social i:hover {
  margin-top: -1px;
}
.social i#twitter:hover {
  color: #77DDF6;
}
.social i#github:hover {
  color: black;
}
.social i#linkedin:hover {
  color: #0177B5;
}
.social i#code:hover {
  color: #29A329;
}
.social i#stack:hover {
  color: #ED780E;
}
.social i#plus:hover {
  color: #D43402;
}
.social i#mail:hover {
  color: #F7B401;
}
.social i#youtube:hover {
  color: red;
}

.menu {
    list-style: none;
    padding-left: 0;
}

.menu li {
      display: inline;
      margin-right: .2em;
}

.menu li:hover a {
  color: #24cf5f;
}


